<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://vk.com/js/api/openapi.js?162" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Remote command UI</title>
   <style> .b1 {
    background: red;
    color: black;
    font-size: 9pt;}</style>
    <center><h1>Генератор "смешных" анекдотов</h1></center>
</head>

<body>

<style>
    body {
    background-image: url({{ url_for('static', filename='background.jpg') }});
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
</style>


<br><br>
<form action="/rnn" method="POST">
    <center><input name="text1" size = "25" placeholder="1"> Введите количество анекдотов</center>
    <br>
    <center><input name="text2" size = "31" placeholder="приходит мужик"> Введите начало анекдота</center>
    <br>
    <!-- <center><input type="submit" style= "width:100x;height:75px" value="Rnn"></center-->


    <center><button class="b1" type="submit" value="Rnn" style="width:150px;height:150px"><h2><b>Создать!</b></h2></button></center>
</form>


{%if error == 0%}
{%for item in for_print%}
    <br>
    <center>{{item}}</center>
{% endfor %}
{%endif%}
{%if error == 1%}
<center><h1 style="color:#ff0000" >Введена не цифра!</h1></center>


{%endif%}
</body>
</html>


